.h-drop {
  /* display: none; */
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  padding: .6rem 0;
}
.h-drop-close {
  position: absolute;
  top: .2rem;
  right: .2rem;
  width: .24rem;
  height: .24rem;
  background: url(/images/close.svg) no-repeat 0 0;
  background-size: 100% 100%;
}
.h-drop-items {
  margin: 0 .58rem;
}
.h-drop-item {
  font-size: .16rem;
  margin-bottom: .2rem;
  text-align: center;
}
.h-drop-btn {
  height: .38rem;
  line-height: .38rem;
  border: 1px solid #000;
  font-size: .16rem;
  text-align: center;
  margin-bottom: .2rem;
  border-radius: .2rem;
}
.h-drop-btn-active {
  background-color: #000;
  color: #fff;
}

.h-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 1.2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 .5rem;
}
.h-menu {
  display: none;
}
.h-actions {
  display: flex;
  height: .44rem;
  align-items: center;
}
.h-link {
  font-size: .16rem;
  color: #fff;
  margin-right: .6rem;
  cursor: pointer;
}
.h-gap {
  margin-right: .2rem;
}
.h-btn {
  display: inline-block;
  height: .44rem;
  border: 1px solid #fff;
  border-radius: .22rem;
  line-height: .44rem;
  font-size: .16rem;
  color: #fff;
  text-align: center;
  padding: 0 .18rem;
  cursor: pointer;
}
.h-btn:hover {
  background-color: #fff;
  color: #000;
}

@media screen and (max-width: 744px) {
  .h-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: .6rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 .2rem;
  }
  
  .h-menu {
    display: block;
    width: .24rem;
    height: .24rem;
    background: url(/images/menu.svg) no-repeat 0 0;
    background-size: 100% 100%;
  }
  .h-actions {
    display: none;
  }
  .h-link {
    font-size: .16rem;
    color: #fff;
    margin-right: .6rem;
    cursor: pointer;
  }
  .h-gap {
    margin-right: .2rem;
  }
  .h-btn {
    display: inline-block;
    height: .44rem;
    border: 1px solid #fff;
    border-radius: .22rem;
    line-height: .44rem;
    font-size: .16rem;
    color: #fff;
    text-align: center;
    padding: 0 .18rem;
    cursor: pointer;
  }
  .h-btn:hover {
    background-color: #fff;
    color: #000;
  }
}